/* ######################### code by Abdul- Basit (OSBAS) ########################  */
:root {
  /* colors */
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --headingstats: hsl(0, 0%, 100%);
  --main-p: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
  /* typography */
  --primary-fs: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-size: var(--primary-fs);
  font-family: sans-serif;
  display: grid;
  place-content: center;
  justify-content: center;
  background-color: var(--main-bg);
}

/* layout */
.container {
  max-width: 900px;
  background-color: var(--card-bg);
  display: flex;
  position: relative;
  border-radius: 0.3em;
}
.img__wrapper {
  width: 50%;
  height: 55vh;
  /* height: 250px; */
  background-image: url("/Images/image-header-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent);
  background-blend-mode: hard-light;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  position: relative;
}

.text__wrapper {
  max-width: 50%;
  margin-inline: auto;
  height: 55vh;
  padding: 1em 2.5em;
  /* text-align: center; */
  position: relative;
}
#text {
  position: relative;
  font-size: 1em;
  margin-bottom: 5em;
}
h1 {
  color: var(--headingstats);
  padding: 0;
  line-height: 1.5em;
  margin-bottom: 5em 0;
}

span {
  color: var(--accent);
}
#text > p {
  color: var(--main-p);
  line-height: 1.5em;
  margin-top: 5em 0;
  padding-top: 2em;
}

.stat__items {
  margin-bottom: 1em;
  margin-right: 1.5em;
  position: relative;
  display: inline-block;
}
h2 {
  font-size: 1.5em;
  color: var(--headingstats);
  font-weight: 700;
}
.stat__items > p {
  font-size: 0.8em;
  color: var(--stat-headings);
  text-transform: uppercase;
}
h6 {
  color: hsla(0, 0%, 61%, 0.747);
  margin-inline: auto;
  font-weight: 100;
  margin-top: 5px;
}
